Ans-1. The values are 'hello', -87.8 and 6 and Expressions are *, -, /, +,

Ans-2. String- A string a Datatype used to store and manipulate data.It is denoted by ''(single quotes) or""(double qoutes).
Example- Name= 'devesh'
         Name= "devesh"

Varibale- Variable always holds a value, it can be string, integer,fraction etc.Its assignment operator is '='
length= 5,
age= 34

Ans-3. An Expression is made of varibale,operator and functions that evaluate a value. Expression can be a variable,operators and function calls.
Expression main work is to produce a value, when an expression is evaluated it always give you a resulting value.
Arithmetic expressions are like addition,substraction, multiplication,division.
String concatination like "devesh"+"sharma",
Logical expressions like x>3 and y<10

Ans-5.Basic difference is a statement dont evaluate a value on other hand expression evaluate and gives you resulting values.

In [7]:
bacon=22
bacon+1

23

In [8]:
'spam'+'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

Ans-8. In Python the variable rule says that a variable name cannot start with a digit so 100 does not fulfil the rule of python for varibale sor egg is a variable and 100 is not a variable.

Ans-9. Funtion used for integer is int(),for floating numbers in float() and for strings is str().

In [15]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [16]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'