In [ ]:
1. What exactly is []?
Ans- List

In [2]:
# Ans-2
spam=[2, 4, 6, 8, 10]

In [3]:
spam[2]="hello"

In [4]:
spam

[2, 4, 'hello', 8, 10]

In [5]:
#Ans-3
spam=['a','b','c','d']

In [6]:
spam[int(int('3' * 2) / 11)]
# "3"*2 will repeat the string two times so it will be 33/11=3 and starting from 0th indexes if we till 3rd indexes the value at this place is d

'd'

In [7]:
#Ans-4
spam[-1]

'd'

In [9]:
#Ans-5
spam[:2]

['a', 'b']

In [23]:
bacon=[3.14, 'cat', 11, 'cat', True]

In [13]:
#Ans-6
bacon.index('cat')
#Index method is used to find out the specific index of a value within a list

1

In [24]:
#Ans-7
bacon.append(99)

In [25]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [26]:
#Ans-8
bacon.remove('cat')

In [27]:
bacon
# remove method used to remove a specific value within a list and it will remove the first occurrences of a specified element.

[3.14, 11, 'cat', True, 99]

In [28]:
#Ans-9
#List Concatenation operator is (+)
l1=[1,2,3,4]
l2=[5,6,7,8]
L=l1+l2

In [29]:
L

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
# list replication operator is (*)
l=[0,1,2,3]
l1=l*4

In [31]:
l1

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [ ]:
#Ans-10
# Difference between append and insert
# Append method try to append a specific element/value within a list to the last index where as in insert method it replaces the value or element of the specified indexes

In [32]:
l=[0,1,2,3]

In [33]:
l.insert(1,5)

In [34]:
l

[0, 5, 1, 2, 3]

In [35]:
l=[1,2,3,4]

In [36]:
l.append(99)

In [37]:
l

[1, 2, 3, 4, 99]

In [45]:
#Ans-11
# remove method and pop method
l=[1,2,3,4,5,2]

In [39]:
l.remove(2)

In [40]:
l

[1, 3, 4, 5, 2]

In [43]:
l.pop(0)

1

In [44]:
l

[2, 3, 4, 5, 2]

In [46]:
l.pop()

2

In [ ]:
# Ans-12. Describe how list values and string values are identical.
list values and string values are identical because they bothe have values in a seequential order we can access individual values by their indexes.Both supoort slicing operation,iteration and we can even find the length of both using len() function.
however there is some difference are also there like 'Mutability', lists are mutable but string is immutable. on other hand list can contain various type of element but string can contain only characters.

In [50]:
l=[1,2,3,0.4,'hello', 9+8j]
s='devesh sharma'

In [51]:
l[0]

1

In [52]:
s[0]

'd'

In [57]:
l[1:4]

[2, 3, 0.4]

In [58]:
s[0:3]

'dev'

In [59]:
len(l)

7

In [60]:
len(s)

13

In [61]:
l[0]=55

In [62]:
l

[55, 2, 3, 0.4, 'hello', (9+8j), 100]

In [63]:
s[0]='h'

TypeError: 'str' object does not support item assignment

In [ ]:
#Ans-13. What's the difference between tuples and lists?
Tuples are Immutable and enclosed in parantheses, they are memory efficient and faster to access due to there immutability.it supports only few methods primarily count() and index().Tuples are used for collections of those data which should remain unchanged such as dates,coordinates etc.
Lists support mutability and enclosed in square brackets, it support many methods like append(), remove(),insert() etc

In [64]:
# Ans-14. How do you type a tuple value that only contains the integer 42?
t=(42)

In [65]:
t

42

In [66]:
T=(42,)
# here after value comma is must because if we dont include it,python will treat the paranthese as a regular parantheses and will not creat a tuple

In [67]:
T

(42,)

In [81]:
#Ans-15. How do you get a list value's tuple form? How do you get a tuple value's list form?
# List value's tuple form
l=[1,2,3,4,5]

In [82]:
T=(l,)

In [83]:
T

([1, 2, 3, 4, 5],)

In [84]:
T[0]

[1, 2, 3, 4, 5]

In [85]:
T[0]=5

TypeError: 'tuple' object does not support item assignment

In [86]:
#Tuple values list form
T=(1,2,3,4,5)

In [87]:
T

(1, 2, 3, 4, 5)

In [88]:
l=[T]

In [89]:
l

[(1, 2, 3, 4, 5)]

In [90]:
l[0]

(1, 2, 3, 4, 5)

In [91]:
l[0]=10

In [93]:
l

[10]

In [ ]:
#Ans-16.. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
l=[1,2,3,4]
# In the above case l doesn't directly contain the list. Instead it contains a reference that points to the memory location where the list data is stored

In [ ]:
#Ans-17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [8]:
import copy

original_list = [[1, 2, 3], [4, 5, 6]]
copied_list = copy.copy(original_list)

# Both original and copied_list share references to the same nested lists
copied_list[0][0] = 100

print(original_list)  # Output: [[100, 2, 3], [4, 5, 6]]

[[100, 2, 3], [4, 5, 6]]

In [15]:
#copy.deepcopy()
#This function creates a deep copy of an object. A deep copy of an object not only creates a new object, but it also recursively creates copies of all nested objects within the original object. This ensures that changes made to nested objects in the copied object do not affect the original object, and vice versa.

import copy

original_list = [[1,2,3],[4,5,6]]
deep_copied_list = copy.deepcopy(original_list)

deep_copied_list[0][0] = 99

print(original_list)       # Output: [[1,2,3] [4,5,6]]
print(deep_copied_list)    # Output: [[1,2,3] [4,5,6]]
#In summary, the key difference between copy.copy() and copy.deepcopy() lies in how they handle nested objects. copy.copy() creates a new object with references to the same nested objects as the original, while copy.deepcopy() creates a completely new set of objects, recursively copying all the nested objects as well.

[[1, 2, 3], [4, 5, 6]]
[[99, 2, 3], [4, 5, 6]]